extends layout

block content
  h1 Register
  form(action='/register', method='POST')
    label Username
    input(name='username', placeholder='Username...')
    |
    label Password
    input(name='password', type="password", placeholder='Password...')
    |
    input(type='submit', value='Send my data!')