extends layout

block content

  a(href='/admin/task/new', class="button addTask") Add a new task
  a(href='/admin/tasks', class="button delete" ) Show Pending
  a(href='/admin/tasks/completed' class="button done") Show Completed
  ul.list
    each task in tasks
      li.list-tasks 
        p #{task.name} from #{task.userId}
        span= moment(task.completedAt).format('YYYY/MM/DD hh:mm:ss')
        a(href='/admin/tasks/delete/' + task._id,class="button delete" ) Delete
